* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@media (max-width: 1080px) {
  html {
    font-size: 16px;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 14px;
  }
}

.header {
  background: rgb(105, 112, 112);
  display: flex;
  flex-direction: row;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.logo {
  width: 10%;
}

.navbar > ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  align-items: center;
  gap: 2rem;
}

.navbar > ul > li > a {
  text-decoration: none;
  color: rgb(248, 248, 248);
}

.navbar > img {
  width: 10%;
}
